* {
    margin: 0;
    padding: 0;
    font-family: 'Exo 2', sans-serif;
}

body {
    background-image: url("../IMG/it-akademija-cover.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
}

main span {
    font-weight: 900;
    letter-spacing: 5px;
}

i {
    font-size: 1em;
}

footer i {
    font-size: 2em;
    padding: 1em;
}



.first-text {
    opacity: 0;
    animation-name: topFadeOut;
    animation-fill-mode: forwards;
    animation-duration: 3s;
    animation-delay: 0.5s;

}

.second-text {
    opacity: 0;
    animation-name: topFadeOut;
    animation-fill-mode: forwards;
    animation-duration: 3s;
    animation-delay: 1s;
}

.third-text {
    opacity: 0;
    animation-name: topFadeOut;
    animation-fill-mode: forwards;
    animation-duration: 3s;
    animation-delay: 2s;
}

.fourth-text {
    opacity: 0;
    animation-name: topFadeOut;
    animation-fill-mode: forwards;
    animation-duration: 3s;
    animation-delay: 2.5s;
}

.bg-color {
    background-color: rgba(217, 215, 215, 0.3);
}


@keyframes topFadeOut {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media (max-width: 576px) {
    .col-sm-12 h1 {
        font-size: 1.5em;
    }

    .col-sm-2,
    .col-sm-8 h2 {
        font-size: 1.2em;
    }

    .col-sm-2,
    .col-sm-8 p {
        font-size: 1.2em;
    }

    .h3 {
        font-size: 1.2em;
    }
}